<h1>Welcome to my Marketplace</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= "#{product.name} - #{formatted_price(product.price)}" %>

      <% if product.is_it_in_the_shopping_cart?(current_user) %>
        <button class="btn btn-danger remove-from-cart-btn" id="<%= product.id %>">Remove from Cart</button>
      <% else %>
        <button class="btn btn-primary add-to-cart-btn" id="<%= product.id %>">Add to Cart</button>
      <% end %>

    </li>
  <% end %>
</ul>
